*{
  box-sizing:border-box;
  outline:none;
}

body{
  background-color:	#508395;
}

#content{
  display:flex;
  flex-direction:column;
  margin:auto;
  max-width:90%;
}

#editor-section{
  width:75%;
  margin:auto;
  max-width: 600px;
  margin-top: 10px;
  box-shadow: 0px -5px 10px 3px rgb(0,0,0,0.4), 0px 5px 10px 3px rgb(0,0,0,0.4);
}

.bar{
  background-color:	rgb(52, 144, 178,0);
  border-radius:3px;
  padding:5px; 
  position: relative;

} 

.fas{
  position:absolute;
  right:10px;
  cursor: pointer;
}


.window{
  min-height:40vh;
  min-width:100%;
  max-width:100%;
  padding:5px;
}

.maximize{
  min-height: 100vh;
}


#preview-section{
  max-width: 80%;
  min-width: 100%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px -5px 5px 3px rgb(0,0,0,0.4), 0px 5px 5px 3px rgb(0,0,0,0.4);
}

#preview{
  background-color:white;
  margin:auto;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px
}

/* markdown styles */
img{
  width: 80%;
  height: auto;
  max-height: 200px;
}

h1,h2{
  border-bottom: 3px outset black;
  border-radius: 2px;
}

pre{
  background-color: rgb(218, 214, 214,1);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  overflow: auto;
}


table,td, th {  
  border-collapse: collapse;
  border: 2px solid rgb(32, 32, 32);
  text-align: left;
  padding:5px;
}

blockquote{
  border-left: 3px solid black;
  padding-left: 5px;
}



/* end markdown styles */