*{
  /* margin:0px; */
  /* padding:0px; */
  box-sizing:border-box;
  outline:none;
}

body{
  background-color:	#508395;
}

#content{
  display:flex;
  flex-direction:column;
  margin:auto;
  max-width:90%;
}

#editor-section{
  width:80%;
  margin:auto;
  max-width: 600px;
}

.bar{
  margin-top:10px;
  background-color:#3490b2;
  border-radius:3px;
  padding:5px; 
} 


.window{
  min-height:40vh;
  min-width:100%;
  max-width:100%;
  border-radius:3px;
  padding:5px;
}

#preview{
  min-width:100%;
  max-width:50%;
  background-color:white;
  margin:auto;
  font-family: 'Roboto', sans-serif;
}

/* markdown styles */
img{
  width: 80%;
  height: auto;
}

h1,h2{
  border-bottom: 3px outset black;
  border-radius: 2px;
}

pre{
  background-color: rgb(218, 214, 214,1);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  overflow: auto;
}


table,td, th {  
  border-collapse: collapse;
  border: 2px solid rgb(32, 32, 32);
  text-align: left;
  padding:5px;
}

blockquote{
  border-left: 3px solid black;
  padding-left: 5px;
}



/* end markdown styles */